/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Design ------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

body
{
	background:url(../images/background.png) repeat-x top fixed #414141;
	font-family:CronosPro;
	margin:15px;
}


#loading
{
	display:block;
	margin:auto;
	margin-top:10px;
	width:24px;
	height:24px;
	background:url(../images/load.gif);
}



a
{
	text-decoration:none;
	color:#000;
}
a:hover
{
	text-decoration:underline;
}


strong
{
	font-weight:bold;
}


em
{
	font-style:italic;
}

.global
{
	width:968px;
	margin:auto;
}

.footer
{
	border-radius:0 0 5px 5px;
	width:968px;
	margin:auto;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
	text-shadow:1px 1px 0 #000;
	font-size:17px;
	line-height:1.4;
background: #262626; /* Old browsers */
background: -moz-linear-gradient(top, #262626 0%, #333333 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(100%,#333333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #262626 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #262626 0%,#333333 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #262626 0%,#333333 100%); /* IE10+ */
background: linear-gradient(to bottom, #262626 0%,#333333 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}
.footer a
{
	color:#fff;
	border-bottom:1px dotted #999;
	text-decoration:none;
}
.footer a:hover
{
	text-decoration:none;
	border-bottom:1px solid #fff;
}

.header
{
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );	
	height:27px;
	line-height:27px;
	border-radius:5px 5px 0 0;
	padding:0 8px;
	font-size:15px;
}


.header .menuRight
{
	float:right;
}
.header .menuLeft
{
	float:left;
}

.header .menuRight li, .header .menuLeft li
{
	float:left;
}

.header span
{
	font-size:10px;
	border-left:1px solid #999;
	border-right:1px solid #fff;
	margin:0 2px;
	
}
.header span.title
{
	display:inline-block;
	overflow:hidden;
}

.header a
{
	display:block;
	height:27px;
	line-height:27px;
	float:left;
	text-decoration:none;
	color:#000;
	text-shadow:1px 1px 0 #fff;
	font-weight:bold;
	padding: 0 4px;
}

.header a img
{
	float:left;
	margin-top:6px;
	margin-right:5px;
}

.header .plusSubMenu
{
	position: relative;
}

.header .subMenu
{
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );	
	display:none;
	z-index:400;
	border:1px solid #333;
	position:absolute;
	top:30px;
	left:-60px;
	width:210px;
	border-radius: 4px;
}

.header .subMenu a
{
	border-radius: 3px;
}



.header .subMenu li:nth-child(odd)
{
	float:left;
}
.header .subMenu li:nth-child(even)
{
	float:right;
}
.header .subMenu li:nth-child(even) img
{
	margin-right:0;
	margin-left:5px;
	float:right;
}

.header .subMenuAccount
{
	width:150px;
	left:-0px;
}

.header .subMenuAccount li:nth-child(odd), .header .subMenuAccount a
{
	float:none;
}
.header .subMenuAccount li:nth-child(even)
{
	float:none;
}
.header .subMenuAccount li:nth-child(even) img
{
	margin-right:5px;
	margin-left:0;
	float:left;
}




.header a:hover
{
	background: rgb(59,168,187);
	background: -moz-linear-gradient(top, rgba(59,168,187,1) 0%, rgba(99,189,205,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,168,187,1)), color-stop(100%,rgba(99,189,205,1)));
	background: -webkit-linear-gradient(top, rgba(59,168,187,1) 0%,rgba(99,189,205,1) 100%);
	background: -o-linear-gradient(top, rgba(59,168,187,1) 0%,rgba(99,189,205,1) 100%);
	background: -ms-linear-gradient(top, rgba(59,168,187,1) 0%,rgba(99,189,205,1) 100%);
	background: linear-gradient(top, rgba(59,168,187,1) 0%,rgba(99,189,205,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8bb', endColorstr='#63bdcd',GradientType=0 );
	
	color:#fff;
	text-shadow:1px 1px 0 #333;
}

.banner
{
	display:block;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	height:152px;
	margin:auto;
	box-shadow:inset 0 4px 3px rgba(0,0,0,0.28),inset 0 -4px 3px rgba(0,0,0,0.28);
	position:relative;
}



#boxFollow
{
	position:relative;
	width:100%;
	height:0;
}

#boxFollow #follow
{
	position:absolute;
	z-index:40;
	top:33px;
	right:20px;
	width:130px;
	border-radius:4px;
	padding:8px 12px;
	background:rgba(0,0,0,0.4);
	box-shadow:2px 2px 2px #444;
	border:1px solid rgba(0,0,0,0.7)
}

#boxFollow #follow strong
{
	display: block;
	color:#fff;
	text-shadow:1px 1px 0 #000;
	margin-bottom: 5px;
}

#boxFollow #follow .closeFollow
{
	display: block;
	float:right;
	width:18px;
	height:18px;
	background:url(../images/closeFollow.png) no-repeat;
	border-radius:4px;
}
#boxFollow #follow .closeFollow:hover
{
	background-color:rgba(0,0,0,0.4);
}

.menuHead
{
	background: rgb(103,190,205);
	background: -moz-linear-gradient(top, rgba(103,190,205,1) 0%, rgba(56,164,183,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(103,190,205,1)), color-stop(100%,rgba(56,164,183,1)));
	background: -webkit-linear-gradient(top, rgba(103,190,205,1) 0%,rgba(56,164,183,1) 100%);
	background: -o-linear-gradient(top, rgba(103,190,205,1) 0%,rgba(56,164,183,1) 100%);
	background: -ms-linear-gradient(top, rgba(103,190,205,1) 0%,rgba(56,164,183,1) 100%);
	background: linear-gradient(to bottom, rgba(103,190,205,1) 0%,rgba(56,164,183,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67becd', endColorstr='#38a4b7',GradientType=0 );
	height:27px;
	line-height:27px;
	padding:0 8px;
	font-size:15px;
}


.menuHead #menuAdd
{
	height:24px;
	width:24px;
	float:right;
	display:block;
	background:url(../images/menuAdd.png) no-repeat center;
	margin-top:1px;
	opacity:0.55;
	-moz-transition-property:opacity;
	-moz-transition-duration: 0.5s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.5s;
	-o-transition-property:opacity;
	-o-transition-duration: 0.5s;
	transition-property:opacity;
	transition-duration: 0.5s;
}
.menuHead #menuAdd:hover
{
	opacity:0.85;
}

.menuHead img
{	
	position:relative;
	top:4px;
	opacity:0.6;
	margin-left:5px;
}


.menuHead > ul > li
{
	float:left;
}


.menuHead > ul > li > a
{
	display:block;
	height:27px;
	line-height:27px;
	float:left;
	text-decoration:none;
	color:#fff;
	text-shadow:1px 1px 0 #333;
	font-weight:bold;
	padding-right:4px;
	padding-left:6px;
}

.menuHead > ul > li > a:hover
{
	background: rgb(73,177,195);
	background: -moz-linear-gradient(top, rgba(73,177,195,1) 0%, rgba(49,143,159,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,177,195,1)), color-stop(100%,rgba(49,143,159,1)));
	background: -webkit-linear-gradient(top, rgba(73,177,195,1) 0%,rgba(49,143,159,1) 100%);
	background: -o-linear-gradient(top, rgba(73,177,195,1) 0%,rgba(49,143,159,1) 100%);
	background: -ms-linear-gradient(top, rgba(73,177,195,1) 0%,rgba(49,143,159,1) 100%);
	background: linear-gradient(to bottom, rgba(73,177,195,1) 0%,rgba(49,143,159,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49b1c3', endColorstr='#318f9f',GradientType=0 );
}

.menuHead ul ul li.sfHover > a
{
    color:#000;
    text-decoration:underline;
}

.menuHead ul ul .plus
{
    background:url(../images/treeRight.gif) 97% 7px no-repeat;
}
.menuHead ul ul .plus:hover
{
    background:url(../images/treeRightHover.gif) 97% 7px no-repeat;
}



.body
{
	background:#fff;
	padding:14px;
	box-shadow:inset 0 3px 0 rgba(0,0,0,0.18);
	font-size:17px;
}


.contentCenter h1, h1.mainH1
{
	text-shadow:2px 2px 1px #ccc;
	color:#000;
	font-size:30px;
	margin-bottom:6px;
	white-space: nowrap;
	width: 710px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.contentCenter h1 span, h1.mainH1 span
{
	color:#999;
	text-shadow:none;
	font-size:28px;
	position: relative;
	bottom:2px;
}

h1.h1Home
{
	color:#000;
	margin-bottom:6px;
	text-shadow:2px 2px 1px #ccc;
	font-size:36px;
}

h2
{
	color:#000;
	text-shadow:1px 1px 0 #ccc;
	font-size:30px;
	margin-bottom:10px;
	padding-left:10px;
	padding-bottom:4px;
	font-style:italic;
}


#content
{
	position:relative;
}

.allImages
{
	text-align:center;
}
.allImages a:hover
{
	text-decoration:none;
}
.allImages img
{
	opacity:0.82;
	max-height:120px;
	padding:1px;
	border:1px solid #666;
	border-radius:4px;
	margin:3px;
	cursor:pointer;
	-moz-transition-property:opacity;
	-moz-transition-duration: 0.5s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.5s;
	-o-transition-property:opacity;
	-o-transition-duration: 0.5s;
	transition-property:opacity;
	transition-duration: 0.5s;
}

.allImages img:hover
{
	opacity:1;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ ACCUEIL ------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/


.lineUserTop
{
	padding:0 10px;
	line-height:1.2;
	text-shadow:1px 1px 0 #fff;
	font-size: 15px;
	width:245px;
}

.lineUserTop span
{
	color:#be901c;
	float:right;
}

.homeLeft
{
	float:left;
	width:670px;
}

.homeRight
{
	float:right;
	width:254px;
}

.community
{
	padding:8px 0;
	border-radius: 4px 0 0 4px;
	border-bottom:1px solid #a5a5a5;
	border-top:1px solid #a5a5a5;
	border-left:1px solid #a5a5a5;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff, -2px 1px 2px #d8d8d8;
	background: rgb(234,234,234);
	background: -moz-linear-gradient(left, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=1 );
}

.community .lineForm
{
	height:30px;
	line-height:30px;
}

.community .lineForm label
{
	padding:0;
	width:95px;
	font-size:15px;
	padding-left:10px;
	text-shadow:1px 1px 0 #fff;
	color:#333;
}



.community .lineForm .ok
{
	opacity:0.7;
	display:block;
	float:right;
	margin-top:6px;
	margin-right:10px;
}

.community .lineForm .ok:hover
{
	opacity:1;
}

.community .remember
{
	margin-top:2px;
	text-align:right;
}

.community .remember label
{
	color:#333;
	font-size:14px;
}

.community .lineForm .txt
{
	width:135px;
	background:#fff;
	font-size:15px;
	padding: 4px 5px;
}


.community h2, .community a.more
{
	display:block;
	font-size:20px;
	text-shadow:1px 1px 0 #fff;
	margin-bottom:5px;
	font-style:italic;
	padding:5px 10px ;
	color:#000;
background: -moz-linear-gradient(left, rgba(211,211,211,1) 0%, rgba(211,211,211,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(211,211,211,1)), color-stop(100%,rgba(211,211,211,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(211,211,211,1) 0%,rgba(211,211,211,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(211,211,211,1) 0%,rgba(211,211,211,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(211,211,211,1) 0%,rgba(211,211,211,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(211,211,211,1) 0%,rgba(211,211,211,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#00d3d3d3',GradientType=1 ); /* IE6-9 */
}

.community a.more:hover
{
	text-decoration: none;
background: -moz-linear-gradient(left, rgba(191,191,191,1) 0%, rgba(191,191,191,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(191,191,191,1)), color-stop(100%,rgba(191,191,191,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(191,191,191,1) 0%,rgba(191,191,191,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(191,191,191,1) 0%,rgba(191,191,191,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(191,191,191,1) 0%,rgba(191,191,191,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(191,191,191,1) 0%,rgba(191,191,191,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#00bfbfbf',GradientType=1 ); /* IE6-9 */
}




h1 .follow
{
	margin-top:2px;
	height:32px;
	float:right;
}

h1 .follow a
{
	display:block;
	float:left;
	opacity:1;
	margin-right:10px;
	-moz-transition-property:opacity;
	-moz-transition-duration: 0.4s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.4s;
	-o-transition-property:opacity;
	-o-transition-duration: 0.4s;
	transition-property:opacity;
	transition-duration: 0.4s;
}

h1 .follow a:hover
{
	opacity:0.7;
}

h1 .follow a img
{
	display:block;
	float:left;
}



.cadreHome
{
	float:left;
	border:1px solid #a5a5a5;
	border-radius:5px;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
	margin-bottom:20px;
}

.cadreHome > div
{
	padding:10px 15px;
}

.cadreHome h2, .cadreHome .more
{
	display:block;
    font-size:22px;
	background: rgb(59,168,187); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(59,168,187,1) 0%, rgba(101,189,205,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(59,168,187,1)), color-stop(100%,rgba(101,189,205,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(59,168,187,1) 0%,rgba(101,189,205,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(59,168,187,1) 0%,rgba(101,189,205,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(59,168,187,1) 0%,rgba(101,189,205,1) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(59,168,187,1) 0%,rgba(101,189,205,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8bb', endColorstr='#65bdcd',GradientType=1 ); /* IE6-9 */
    margin:2px;
	padding:6px 10px;
	border-radius:4px 4px 0 0;
    color:#fff;
    text-shadow:1px 1px 0px #18454d;
    border:1px solid #318a9a;
	font-weight:bold;
	font-style:normal;
    box-shadow:inset 0 0 1px #fff,0 1px 1px #ccc;
}

.cadreHome .more:hover
{
	text-decoration:none;
	background: #3598a9; /* Old browsers */
background: -moz-linear-gradient(left, #3598a9 0%, #4eb4c6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3598a9), color-stop(100%,#4eb4c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #3598a9 0%,#4eb4c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #3598a9 0%,#4eb4c6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #3598a9 0%,#4eb4c6 100%); /* IE10+ */
background: linear-gradient(to right, #3598a9 0%,#4eb4c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3598a9', endColorstr='#4eb4c6',GradientType=1 ); /* IE6-9 */
}

.cadreHome .more img
{
	display:block;
	float:right;
	margin-top:5px;
}

#showListRooms
{
	position: relative;
}
#listRooms
{
	display:none;
	border-bottom:1px solid #a5a5a5;
	box-shadow:0 2px 2px #ccc;
	position:absolute;
	top:30px;
	padding-top:5px;
	left:0;
	background:#fff;
	z-index:20;
	width:266px;
}

.cadreHome.listNews
{
	box-shadow:inset 0 1px 0 #fff, 0 -2px 2px #d8d8d8;
	margin-bottom:5px;
	border-right:0;
	border-left:0;
	border-bottom:0;
	border-radius:0;
}

.cadreHome.lastUpdates
{
	width:48%;
	margin-right:20px;
	height:345px;
	overflow:hidden;
}

.cadreHome.lastMsg
{
	width:48%;
	overflow:hidden;
	height:345px;
}

.cadreHome.events
{
	width:48%;
}

.deleteEvent
{
	opacity:0.5;
}

.deleteEvent:hover
{
	opacity:1;
}

.cadreHome.sondage
{
	width:48%;
	margin-right:20px;
}
.cadreHome.sondage .sondageQuestion
{
	text-align:center;
	font-size:20px;
	text-shadow:2px 2px 1px #ccc;
	margin-bottom:15px;
}

.cadreHome .cadreJauge
{
	width:40%;
}

.cadreHome .jauge
{
	margin-right:7px;
	float:left;
	margin-bottom:5px;
    height:14px;
    width:0%;
    border-radius:4px;
    border:1px solid #247f8d;
    box-shadow:inset 0 0 1px #fff, 2px 2px 2px #ccc;
    background: rgb(113,203,217); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(113,203,217,1) 0%, rgba(48,163,181,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(113,203,217,1)), color-stop(100%,rgba(48,163,181,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(113,203,217,1) 0%,rgba(48,163,181,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(113,203,217,1) 0%,rgba(48,163,181,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(113,203,217,1) 0%,rgba(48,163,181,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71cbd9', endColorstr='#30a3b5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(113,203,217,1) 0%,rgba(48,163,181,1) 100%); /* W3C */
}


.cadreHome .result
{
	color:#555;
	font-weight:normal;
	text-shadow:1px 1px 0 #fff;
	font-size:15px;
}

.cadreHome .result span
{
	font-weight:bold;
	color:#000;
}

.cadreHome.lastMsg > div
{
	padding:0 10px;
}

 .homeComment
{
	border-bottom:1px solid #ccc;
	font-size:14px;
	padding:7px 0 ;
}
 .homeComment:last-child
{
	border-bottom:0;
}
.homeComment > span
{
	color:#666;
	font-size:15px;
	line-height:1.3;
	text-shadow:1px 1px 1px #ccc;
}
.homeComment > span a
{
	font-weight:bold;
}
.homeComment .title
{
	line-height:1.2;
	display:block;
	font-size:16px;
	white-space:nowrap;
	overflow:hidden;
}
.homeComment .title span
{
	color:#666;
	font-weight:bold;
}

.homeComment img
{
	float:left;
	margin-right:10px;
}

.cadreHome p
{
	color:#666;
	font-style:italic;
	line-height:1.1;
}

.cadreHome li
{
	line-height:1.1;
	margin-bottom:4px;
    display:block;
    padding-left: 25px;
    background:url(../images/puce_right2.png) left 1px no-repeat;
	white-space:nowrap;
	overflow:hidden;
	
}
.cadreHome li span
{
	color:#777;
	font-style:italic;
	font-size:13px;
}


.news a
{
	display:block;
	height:52px;
	margin-bottom:5px;
	text-decoration:none;
	position:relative;
	
}

.news a .nbComs
{
	position:absolute;
	top:0;
	right:0;
	display:block;
	padding-left:22px;
	background:url(../images/newSalon.png) left no-repeat;
	color:#000;
	opacity:0.5;
	-moz-transition-property:opacity;
	-moz-transition-duration: 0.5s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.5s;
	-o-transition-property:opacity;
	-o-transition-duration: 0.5s;
	transition-property:opacity;
	transition-duration: 0.5s;
}
.news a:hover .nbComs
{
	color:#000;
	opacity:1;
}

.news a:hover span.title
{
	text-decoration:underline;
}
.news a:hover span.sub
{
	color:#444;
	-moz-transition-property:color;
	-moz-transition-duration: 0.5s;
	-webkit-transition-property:color;
	-webkit-transition-duration: 0.5s;
	-o-transition-property:color;
	-o-transition-duration: 0.5s;
	transition-property:color;
	transition-duration: 0.5s;
}

.news a span.title
{
	float:left;
	width:490px;
	display:block;
	color:#000;
	font-size:19px;
	text-shadow:1px 1px 1px #b2b2b2;
	margin-bottom:3px;
	white-space:nowrap;
	overflow:hidden;
	text-oveflow:ellipsis;
}

.news a span.sub
{
	width:500px;
	float:left;
	display:block;
	line-height:1.15;
	height:30px;
	overflow:hidden;
	color:#999;
	font-size:13px;
	text-shadow:1px 1px 0 #FFF;
	font-style:italic;
}

.news a img
{
	display:block;
	float:left;
	border-radius:3px;
	border:1px solid #333;
	margin-right:8px;
}


#listMsg
{
	height:480px;
	overflow:auto;
	margin-left:10px;
	width:252px;
	margin-bottom:8px;
}


#addMessage:hover,#addMessage:focus
{
	color:#000;
	border:1px solid #777;
	border-left:0;
	border-right:0;
	box-shadow:inset 2px 2px 1px #d8d8d8;
}


#addMessage:focus
{
	background: url(../images/write2.png) 10px no-repeat #fff;
}

#addMessage
{
	background: url(../images/write.png) 10px no-repeat #fff;
	font-family:CronosPro;
	font-size:17px;
	border:1px solid #b2b2b2;
	border-left:0;
	border-right:0;
	width:229px;
	padding: 5px 6px;
	padding-left:32px;
	color:#999;
	text-shadow:1px 1px 0 #fff;
	-moz-transition-property:color,border-color,box-shadow;
	-moz-transition-duration: 0.6s;
	-webkit-transition-property:color,border-color,box-shadow;
	-webkit-transition-duration: 0.6s;
	-o-transition-property:color,border-color,box-shadow;
	-o-transition-duration: 0.6s;
	transition-property:color,border-color,box-shadow;
	transition-duration: 0.6s;
}

#listMsg .message
{
	line-height:1.2;
	font-size:15px;
	text-shadow:1px 1px 0 #fff;
	position:relative;
}

#historyCB .message
{
	line-height:1.2;
	font-size:17px;
	text-shadow:1px 1px 0 #fff;
	position:relative;
	color:#222;
}

#listMsg .author
{
	margin-top:6px;
}

#historyCB .author
{
	margin-top:6px;
}

#listMsg .message:hover .deleteMsg
{
	display:block;
}

#listMsg .deleteMsg
{
	display:none;
	position:absolute;
	bottom:0;
	right:10px;
	opacity:0.5;
}

#listMsg .deleteMsg:hover
{
	opacity:1;
}

#listMsg .deleteRoom img, #listMsg .mpMsg img
{
	display:block;
	margin-right:6px;
	float:left;
	opacity:0.5;
	margin-top:1px;
}

#listMsg .time
{
	color:#999;
	font-size:13px;
	text-shadow:1px 1px 0 #fff;
}
#historyCB .time
{
	color:#999;
	font-size:17px;
	text-shadow:1px 1px 0 #fff;
}

#listMsg .deleteMsg img:hover, #listMsg .deleteRoom img:hover, #listMsg .mpMsg img:hover
{
	opacity:1;
}

#listMsg .message a
{
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 1px #ccc;
	color:#000;
}

#historyCB .message a
{
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 1px #ccc;
	color:#000;
}

#listMsg .message a:hover
{
	text-decoration:underline;
}

#historyCB .message a:hover
{
	text-decoration:underline;
}

.listConnected
{
	padding-left:10px;
	width:252px;
}

.listConnected a
{
	float:left;
	display:block;
	opacity:1;
	-moz-transition-property:opacity;
	-moz-transition-duration: 0.4s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.4s;
	-o-transition-property:opacity;
	-o-transition-duration: 0.4s;
	transition-property:opacity;
	transition-duration: 0.4s;
	height:60px;
	width:60px;
}

.listConnected a:hover
{
	opacity:0.8;
}

.listConnected a img
{
	float:left;
	display:block;
}

.mp
{
	font-size:9px;
	color:#999;
	text-align:right;
	padding-top:4px;
	padding-left:15px;
	font-family:verdana;
}

#roomName img
{
	float:right;
	margin-top:3px;
	position: relative;
	left:10px;
}

#listRooms > a, .goToRoom
{
	display:block;
	padding:5px 9px;
	cursor:pointer;
	color:#555;
}

#listRooms > a:hover, .goToRoom:hover
{
	color:#000;
	text-shadow:1px 1px 0 #fff;
	background:#e5e5e5;
	text-decoration: none;
}


.goToRoom img
{
	display:block;
	float:right;
	margin-left:5px;	
}


#addRoom img
{
	display:block;
	float:left;
	margin-right:6px;
}


.shop
{
	padding:10px;
	display:block;
	text-align:center;
}

.shop img
{
	max-width:220px;
}
.shop > div
{
	font-size:20px;
	color:#000;
	text-shadow:1px 1px 1px #ccc;
	margin-top:10px;
}

a
{
	cursor:pointer;
}
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Petit menu a gauche ------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.sideMenuLeft
{
	width:215px;
	float:left;
}

.sideMenuLeft > div.pub
{
	text-align:center;
}

.sideMenuLeft > div.menu
{
	border-right:1px solid #999;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff, 2px 1px 2px #d8d8d8;
	border-radius:0 5px 5px 0;
	padding:10px 0 10px 0px;
	overflow:hidden;
	padding-left:0;
	margin-bottom:10px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
}

.sideMenuLeft.fixed
{
	position:fixed;
	top:10px;
}

.sideMenuLeft #tree
{
	max-height:500px;
	overflow-y:auto;
	overflow-x:hidden;
}
.sideMenuLeft #tree li.open > ul
{
	display:block;
}

.sideMenuLeft #tree li.closed > ul
{
	display:none;
}

.sideMenuLeft #tree ul ul li
{
	padding-left:9px;
}

.sideMenuLeft #tree ul ul li.direct
{
	background:url(../images/treeDirect.gif) no-repeat 0 9px;
}
.sideMenuLeft #tree ul ul li.direct:hover
{
	background:url(../images/treeDirectHover.gif) no-repeat 0 9px;
}

.sideMenuLeft #tree ul ul li.plus.open
{
	background:url(../images/treeDown.gif) no-repeat 0 9px;
}

.sideMenuLeft #tree ul ul li.plus.closed
{
	background:url(../images/treeRight.gif) no-repeat 1px 7px;
}

.sideMenuLeft #tree ul ul li.plus.open:hover
{
	background:url(../images/treeDownHover.gif) no-repeat 0 9px;
}

.sideMenuLeft #tree ul ul li.plus.closed:hover
{
	background:url(../images/treeRightHover.gif) no-repeat 1px 7px;
}

.sideMenuLeft .actions
{
	margin-bottom:10px;
	height:24px;
}

.sideMenuLeft .actions a
{
	display:block;
	float:left;
	margin-left:14px;
	opacity:1;
	-moz-transition-property:opacity;
	-moz-transition-duration: 0.5s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.5s;
	-o-transition-property:opacity;
	-o-transition-duration: 0.5s;
	transition-property:opacity;
	transition-duration: 0.5s;
}

.sideMenuLeft .actions a:hover
{
	opacity:0.75;
}

.sideMenuLeft #tree > ul > li > a:first-child
{
	text-transform: uppercase;
	font-size: 14px;
}

.sideMenuLeft #tree li a
{
	line-height:1.24;
	color:#595959;
	text-decoration:none;
	display:block;
	text-shadow:1px 1px 0 #fff;
	font-size:16px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	width:185px;
}

.sideMenuLeft #tree li:hover > a,.sideMenuLeft #tree li.current > a
{
	color:#000;
	text-decoration: underline;
}

.sideMenuLeft h4
{
	margin-bottom:7px;
	color:#000;
	text-decoration:none;
	display:block;
	text-shadow:1px 1px 0 #fff;
	background:url(../images/puce_down.png) no-repeat 2px 0px;
	padding-left:24px;
	font-size:19px;
}



.contentCenter
{
	margin-left:230px;
	min-height:530px;
}

.infosContent
{
	font-size:15px;
	color:#999;
	margin-bottom:6px;
	padding-left:10px;
	font-style:italic;
	line-height:1.1;
}
.infosContent strong
{
	font-weight: normal;
	color:#555;
}

.infosContent a
{
	color:#000;
	text-decoration:none;
}

.infosContent a:hover
{
	text-decoration:underline;
}


.listSide ul li
{
	padding-left:23px;
}

.listSide ul li a	
{
	display:block;
	color:#444;
	text-decoration:none;
	text-shadow:1px 1px 0 #fff;
	font-size:15px;
	margin-bottom:5px;
}

.listSide ul li a:hover
{
	text-decoration:underline;
	color:#000;
}

.classic li a
{
	line-height:1.4;
	color:#333;
	text-decoration:none;
	display:block;
	background-image:url(../images/puce_right.png);
	background-position:7px 4px;
	background-repeat:no-repeat;
	padding-left:30px;
	text-shadow:1px 1px 0 #fff;
}
.classic li span
{
	color:#888;
	font-style:italic;
	padding-left:32px;
	font-size:15px;
	display:block;
	margin-bottom:3px;
}
.classic li a:hover
{
	text-decoration:underline;
	color:#000;
}

.classic li a.current
{
	font-weight:bold;
	color:#000;
}

.mainSide li a
{
	background-position:5px 4px;
}

.classic ul a
{
	line-height:1.3;
	color:#444;
	text-decoration:none;
	display:block;
	background:url(../images/puce_right.png) 25px no-repeat;
	padding-left:45px;
	text-shadow:1px 1px 0 #fff;
	font-size:17px;
}

.sideMenuLeft input[type=checkbox]
{
	margin-left:20px;
	position:relative;
	top:2px;
	margin-right:5px;
	margin-bottom:7px;
}

.sideMenuLeft label
{
	cursor:pointer;
	color:#333;
	text-shadow:1px 1px 0 #fff;
}
.sideMenuLeft label:hover
{
	color:#000;
	text-decoration:underline;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Formulaire ------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

.showSettingsAction
{
	cursor:pointer;
	text-align:center;
	color:#999;
	font-size:32px;
	text-shadow:1px 1px 0 #fff;
	padding:10px;
}

.showSettingsAction:hover
{
	color:#555;
}

.lineForm
{
	height:42px;
	line-height:42px;
	position: relative;
}

.lineForm label, .lineFormTextarea label
{
	text-shadow:1px 1px 0 #ccc;
	width:180px;
	padding-left:15px;
	float:left;
	font-style:italic;
}
.lineForm label span
{
	color:red;
}

.lineForm label span
{
	color:red;
}

input[type=file]
{
	font-size:15px;
}

.txt
{	
	background: rgb(242,242,242);
	background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
	font-family:CronosPro;
	font-size:17px;
	border:1px solid #888;
	border-radius:4px;
	width:450px;
	padding: 5px 6px;
	-moz-transition-property:box-shadow,border;
	-moz-transition-duration: 0.5s;
	-webkit-transition-property:box-shadow,border;
	-webkit-transition-duration: 0.5s;
	-o-transition-property:box-shadow,border;
	-o-transition-duration: 0.5s;
	transition-property:box-shadow,border;
	transition-duration: 0.5s;
}


select.txt
{
	width:463px;
}

textarea.cke_source
{
	font-family: Consolas, monospace !important;
	font-size: 11px !important;
	color:#222 !important;
}





.commentaire .spoiler
{
	background:#999;
	border-radius:4px;
	color:#fff;
	text-shadow:1px 1px 0 #333;
	padding:0 6px;
	font-size:17px;
	cursor:pointer;
}


.commentaire .spoiler span, .lastMsg .spoiler span
{
	display:none;
}


.commentaire p img
{
	max-width:550px;
}

.commentaire .spoiler:hover
{
	background:#777;
}

.lineComment .avatar
{
	width:100px;
	height:100px;
	margin-right:15px;
}

.lineComment .smileys
{
	float:left;
	width:105px;
}

.lineComment .bbcode
{
	width:100px;
	padding-top:10px;
}


.lineComment .smileys img, .lineComment .bbcode img
{
	display:block;
	float:left;
	padding:4px;
	opacity:1;
	cursor:pointer;
	border:1px solid #fff;
}

.lineComment .smileys img:hover, .lineComment .bbcode img:hover
{
	border-radius:3px;
	border:1px solid #555;
	box-shadow:inset 0 0 1px #fff, 2px 2px 2px #ccc;
	background:#e5e5e5;
}

.lineComment .bbcode img
{
	float:right;
}


.lineComment textarea.txt
{
	float:left;
	width:465px;
	height:225px;
	margin-right:10px;
}





.lineFormTextarea
{
	margin-top:3px;
	position: relative;
}
.lineFormTextarea label
{
	padding-top:10px;
}

textarea.txt
{
	height:200px;
	line-height:1.2;
}


.txt:focus
{
	box-shadow:0 0 8px #69b8c8;
	border:1px solid #368795;
}

.btn
{
	margin-top:20px;
	font-weight:bold;
	cursor:pointer;
	font-family: CronosPro;
	box-shadow:inset 0 0 1px #fff, 2px 2px 2px #ccc;
	font-size:22px;
	padding:8px 12px;
	border-radius:4px;
	border:1px solid #286470;
	color:#fff;
	text-shadow:1px 1px 0 #333;
	background: rgb(101,189,205);
	background: -moz-linear-gradient(top, rgba(101,189,205,1) 0%, rgba(55,156,174,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,189,205,1)), color-stop(100%,rgba(55,156,174,1)));
	background: -webkit-linear-gradient(top, rgba(101,189,205,1) 0%,rgba(55,156,174,1) 100%);
	background: -o-linear-gradient(top, rgba(101,189,205,1) 0%,rgba(55,156,174,1) 100%);
	background: -ms-linear-gradient(top, rgba(101,189,205,1) 0%,rgba(55,156,174,1) 100%);
	background: linear-gradient(top, rgba(101,189,205,1) 0%,rgba(55,156,174,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65bdcd', endColorstr='#379cae',GradientType=0 );
}


.btn:hover
{
	background: rgb(55,156,174);
	background: -moz-linear-gradient(top, rgba(55,156,174,1) 0%, rgba(101,189,205,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,156,174,1)), color-stop(100%,rgba(101,189,205,1)));
	background: -webkit-linear-gradient(top, rgba(55,156,174,1) 0%,rgba(101,189,205,1) 100%);
	background: -o-linear-gradient(top, rgba(55,156,174,1) 0%,rgba(101,189,205,1) 100%);
	background: -ms-linear-gradient(top, rgba(55,156,174,1) 0%,rgba(101,189,205,1) 100%);
	background: linear-gradient(top, rgba(55,156,174,1) 0%,rgba(101,189,205,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379cae', endColorstr='#65bdcd',GradientType=0 );
}

.btn2
{
	cursor:pointer;
	font-family: CronosPro;
	box-shadow:inset 0 0 1px #fff, 2px 2px 2px #ccc;
	font-size:16px;
	font-weight:bold;
	padding: 4px 6px;
	border-radius:4px;
	border:1px solid #286470;
	color:#fff;
	text-shadow:1px 1px 0 #333;
	background: rgb(101,189,205);
	background: -moz-linear-gradient(top, rgba(101,189,205,1) 0%, rgba(55,156,174,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,189,205,1)), color-stop(100%,rgba(55,156,174,1)));
	background: -webkit-linear-gradient(top, rgba(101,189,205,1) 0%,rgba(55,156,174,1) 100%);
	background: -o-linear-gradient(top, rgba(101,189,205,1) 0%,rgba(55,156,174,1) 100%);
	background: -ms-linear-gradient(top, rgba(101,189,205,1) 0%,rgba(55,156,174,1) 100%);
	background: linear-gradient(top, rgba(101,189,205,1) 0%,rgba(55,156,174,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65bdcd', endColorstr='#379cae',GradientType=0 );
}


.btn2:hover
{
	background: rgb(55,156,174);
	background: -moz-linear-gradient(top, rgba(55,156,174,1) 0%, rgba(101,189,205,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,156,174,1)), color-stop(100%,rgba(101,189,205,1)));
	background: -webkit-linear-gradient(top, rgba(55,156,174,1) 0%,rgba(101,189,205,1) 100%);
	background: -o-linear-gradient(top, rgba(55,156,174,1) 0%,rgba(101,189,205,1) 100%);
	background: -ms-linear-gradient(top, rgba(55,156,174,1) 0%,rgba(101,189,205,1) 100%);
	background: linear-gradient(top, rgba(55,156,174,1) 0%,rgba(101,189,205,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379cae', endColorstr='#65bdcd',GradientType=0 );
}

.error
{
	z-index:500;
    display:none;
    position:absolute;
    right:0;
    top:6px;
	background:url(../images/cross.png) no-repeat 6px #f04141;
	padding: 5px 6px;
	padding-left:32px;
    border-radius:6px;
    white-space: nowrap;
    line-height:1.2;
    cursor:pointer;
    color:#fff;
	font-size:17px;
	text-shadow:1px 1px 0 #444;
	-moz-transition-property:background-color;
	-moz-transition-duration: 0.5s;
	-webkit-transition-property:background-color;
	-webkit-transition-duration: 0.5s;
	-o-transition-property:background-color;
	-o-transition-duration: 0.5s;
	transition-property:background-color;
	transition-duration: 0.5s;
}

.error:hover
{
    background-color:#bd0e0e;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ SOmmaire ------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.itemSommaire
{
	margin-top:15px;
	display:block;
	margin-bottom:5px;
	text-decoration:none;
	color:#000;
	font-size:19px;
	text-shadow:1px 1px 1px #ccc;
	padding-left:24px;
	background:url(../images/puce_right.png) 4px no-repeat;
}

.itemSommaire:hover
{
	text-decoration:underline;
}

.descSommaire
{
	font-style: italic;
	color:#666;
	font-size:15px;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Editon de contenu ------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/


.myImages
{
	display:none;
	padding-bottom:15px;
	width:100%;
	height:430px;
	overflow:auto;
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	text-align:center;
	background: #fff;
	border-bottom:1px solid #888;
	box-shadow:0 3px 3px #ccc;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Zone membre ------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
a.add
{
	color:#000;
	display:block;
	float:left;
	border:1px solid #999;
	border-radius:6px;
	padding:0 12px;
	height:46px;
	line-height:46px;
	text-decoration:none;
	margin-bottom:15px;
	margin-right:15px;
	text-shadow:1px 1px 0 #fff;
	font-size:20px;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff;
	background: rgb(216,216,216);
	background: -moz-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,1)), color-stop(100%,rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(216,216,216,1) 0%,rgba(242,242,242,1) 100%);
	background: linear-gradient(to bottom, rgba(216,216,216,1) 0%,rgba(242,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#f2f2f2',GradientType=0 );
}

a.add:hover
{
	
	border:1px solid #666;
	background: rgb(205,205,205);
	background: -moz-linear-gradient(top, rgba(205,205,205,1) 0%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,205,205,1)), color-stop(100%,rgba(230,230,230,1)));
	background: -webkit-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(205,205,205,1) 0%,rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#e6e6e6',GradientType=0 );
}

a.add img
{
	display:block;
	float:left;
	margin-top:10px;
	margin-right:10px;
}


.listImagesUser img.notIndexed,.sortImagesUser img.notIndexed
{
	border:1px solid #d62828;
	background:#d62828;
}




.sortImagesUser
{
	padding-top:10px;
	position:relative;
	border-top:1px solid #999;
	height:100px;
}


.sortImagesUser:nth-child(odd)
{
	box-shadow:inset 1px 1px 0 #fff;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}

.sortImagesUser .btn
{
	position:absolute;
	top:8px;
	right:10px;
}

.sortImagesUser.notIndexed
{
	
}


.sortImagesUser a
{
	float:left;
	text-decoration:none;
	margin-left:15px;
}

.sortImagesUser .lineForm
{
	float:left;
}

.sortImagesUser img
{
	max-width:160px;
	max-height:80px;
}

.sortImagesUser label
{
	width:120px;
}

.sortImagesUser select
{
	width:270px;
}

.sortImagesUser .refuse
{
	position:absolute;
	top:34px;
	right:90px;
	opacity:0.5;
	margin:0;
}

.sortImagesUser .refuse:hover
{
	opacity:1;
}

.sortImagesUser .refuse img
{
	border:0;
}



.gils
{
	width:100%;
}

.gils th
{
	text-shadow:2px 2px 1px #ccc;
	padding:5px 15px;
	font-size:28px;
}
.gils td
{
	padding:5px 15px;
	text-shadow:1px 1px 0px #e0e0e0;
}
.gils tr td:first-child,.gils tr th:first-child
{
	border-right:1px dotted #888;
	text-align:right;
}

.gils tr td:last-child, .gils tr th:last-child
{
	text-align:left;
	width:40%;
}
.gils tr td:last-child
{
	color:#b1861a;
	font-weight:bold;

}



.cadreParam
{
	margin:40px 0;
	border:1px solid #999;
	border-radius:6px;
	padding:25px 10px;
	padding-bottom:10px;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
	position:relative;
}

.cadreParam h2
{
	border:1px solid #666;
	text-shadow:1px 1px 0 #fff;
	position:absolute;
	padding:0 10px;
	top:-16px;
	left:15px;
	height:26px;
	line-height:26px;
	font-style:normal;
	border-radius:6px;
	color:#000;
	font-size:18px;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff,2px 2px 2px #ccc;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
	
}

.legend
{
	line-height:1.3;
	padding-left:10px;
}

.legend img
{
	display:block;
	float:left;
	margin-top:3px;
	margin-right:10px;
}

.myContents
{
	margin-top:30px;
	margin-bottom:230px;
}

.myContent > img
{
	display:block;
	float:left;
	margin-top:7px;
	margin-right:5px;
}
.myContent:hover > img
{
	margin-top:6px;
}

.myContent
{
	position:relative;
	text-shadow:1px 1px 0 #fff;
	height:28px;
	line-height:28px;
	padding-left:6px;
	padding-right:6px;
	border-radius:4px 4px  0 4px;
	color:#333;
}

.myContent > div.history
{
	display:none;
	position:absolute;
	right:-1px;
	top:26px;
	width:560px;
	max-height:205px;
	overflow:auto;
	z-index:99;
	border-radius:0 0 4px 4px;
	background:#fff;
	border:1px solid #666;
	border-top:0;
	padding:3px 8px;
	box-shadow:-2px 2px 2px #bbb;
}

.myContent > div.history .lineHistory
{
	height:28px;
	line-height:28px;
	padding-left:7px;
	border-radius:4px;
	padding-right:4px;
}
.myContent > div.history .lineHistory:hover
{
	background:#e5e5e5;
}

.myContent > div.history .action
{
	float:left;
	display:block;
	margin-top:2px;
	margin-right:5px;
	opacity:0.75;
}

.myContent > div.history .action:hover
{
	opacity:1;
}

.myContent > div.history .action img
{
	display:block;
}


.myContent span.tiny
{
	color:#777;
	font-size:14px;
}

.myContent:hover
{
	padding-left:5px;
	height:26px;
	line-height:26px;
	color:#000;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff,0 2px 2px #bbb;
	border:1px solid #666;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}

.myContent .inSlider
{
	float:right;
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Articles ------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.cadreArticle
{
	position:relative;
	display:block;
	float:left;
	margin:12px;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff,3px 3px 3px #bbb;
	width:320px;
	height:180px;
	border:1px solid #555;
	border-radius:6px;
	-moz-transition-property:opacity;
	-moz-transition-duration: 0.5s;
	-webkit-transition-property:opacity;
	-webkit-transition-duration: 0.5s;
	-o-transition-property:opacity;
	-o-transition-duration: 0.5s;
	transition-property:opacity;
	transition-duration: 0.5s;
}

.cadreArticle:hover
{
	opacity:0.8;
}

.cadreArticle span
{
	border-radius:0 0 4px 4px;
	font-weight: bold;
	position:absolute;
	bottom:1px;
	right:-1px;
	width:300px;
	padding:7px 10px;
	color:#fff;
	font-size:19px;
	line-height:1.15;
	text-shadow:1px 1px 0 #000;
	background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=1 );
}

.cadreArticle:nth-child(even) span
{
	text-align:right;
	left:-1px;
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=1 );
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Zone infos ------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.warning
{
	margin-bottom:15px;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff;
	border-radius:8px;
	border:1px solid #b17a13;
	padding:10px;
	color:#7c560f;
	background: rgb(255,223,129);
	background: -moz-linear-gradient(top, rgba(255,223,129,1) 0%, rgba(255,235,175,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,223,129,1)), color-stop(100%,rgba(255,235,175,1)));
	background: -webkit-linear-gradient(top, rgba(255,223,129,1) 0%,rgba(255,235,175,1) 100%);
	background: -o-linear-gradient(top, rgba(255,223,129,1) 0%,rgba(255,235,175,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,223,129,1) 0%,rgba(255,235,175,1) 100%);
	background: linear-gradient(to bottom, rgba(255,223,129,1) 0%,rgba(255,235,175,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf81', endColorstr='#ffebaf',GradientType=0 );
}

.warning div
{
	background:url(../images/warning.png);
	height:48px;
	width:48px;
	float:left;
}
.warning a
{
	text-decoration:none;
	color:#000;
}
.warning a:hover
{
	text-decoration:underline;
}
.warning p
{
	margin-left:65px;
	line-height:1.1;
}


.question
{
	margin-bottom:15px;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff;
	border-radius:8px;
	border:1px solid #7b91a1;
	padding:10px;
	color:#3f4e59;
	background: rgb(206,214,220);
	background: -moz-linear-gradient(top, rgba(206,214,220,1) 0%, rgba(227,232,236,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,214,220,1)), color-stop(100%,rgba(227,232,236,1)));
	background: -webkit-linear-gradient(top, rgba(206,214,220,1) 0%,rgba(227,232,236,1) 100%);
	background: -o-linear-gradient(top, rgba(206,214,220,1) 0%,rgba(227,232,236,1) 100%);
	background: -ms-linear-gradient(top, rgba(206,214,220,1) 0%,rgba(227,232,236,1) 100%);
	background: linear-gradient(to bottom, rgba(206,214,220,1) 0%,rgba(227,232,236,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced6dc', endColorstr='#e3e8ec',GradientType=0 );
}

.question div
{
	background:url(../images/question.png);
	height:48px;
	width:48px;
	float:left;
}
.question a
{
	text-decoration:none;
	color:#000;
}
.question a:hover
{
	text-decoration:underline;
}
.question p
{
	margin-left:65px;
	line-height:1.1;
}



/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Tableaux -------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.table
{
	width:100%;
}


.table td
{
	padding:4px;
}

.table th
{
	text-align:center;
	font-size:26px;
	border-bottom:1px solid #999;
	background:#fff;
	padding:6px 0;
	text-shadow:2px 2px 1px #ccc;
}

.table td
{
	text-align:center;
	font-size:16px;
	border-bottom:1px solid #999;
	text-shadow:1px 1px 0 #fff;
	vertical-align:middle;
}

.table .dateMP
{
	color:#666;
	font-size:14px;
}


.table .deleteMP a
{
	opacity:0.5;
}
.table .deleteMP a:hover
{
	opacity:1;
}

.table .notifMP img, .table .deleteMP img, .table .infoImg img
{
	display:block;
	margin:0 3px;
}

.table  a
{
	text-decoration:none;
	color:#000;
}

.table .linkMP
{
	text-align:left;
}
.table .linkMP a
{
	font-size:17px;
	display:block;
	text-decoration:none;
	line-height:1.2;
	font-weight:bold;
	text-align:left;
	color:#222;
}
.table .linkMP a:hover
{
	color:#000;
}
.table a:hover
{
	text-decoration:underline;
}

.table tr:nth-child(even)
{
	box-shadow:inset 1px 1px 0 #fff;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Messages & paginations-------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/


.pagination
{
	margin-bottom:15px;
	text-align:center;
}

.pagination a,.pagination .curr
{
	font-size:17px;
	text-decoration:none;
	display:inline-block;
	padding:7px;
	text-shadow:1px 1px 0 #fff;
	color:#444;
	border-radius:3px;
	border:1px solid #b2b2b2;
	border-bottom:1px solid #aaa;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff;
    background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	-moz-transition-property:box-shadow,border-color,color;
	-moz-transition-duration: 0.2s;
	-webkit-transition-property:box-shadow,border-color,color;
	-webkit-transition-duration: 0.2s;
	-o-transition-property:box-shadow,border-color,color;
	-o-transition-duration: 0.2s;
	transition-property:box-shadow,border-color,color;
	transition-duration: 0.2s;
}
.pagination .curr
{
	color:#000;
	border:1px solid #444;
	background: rgb(230,230,230); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(230,230,230,1) 0pt, rgba(220,220,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0pt,rgba(230,230,230,1)), color-stop(100%,rgba(220,220,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0pt,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(230,230,230,1) 0pt,rgba(220,220,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(230,230,230,1) 0pt,rgba(220,220,220,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(230,230,230,1) 0pt,rgba(220,220,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

.pagination a:hover
{
	color:#000;
	text-decoration:none;
	border:1px solid #666;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff, 0 0 4px #999;
}


.commentaire
{
 	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff,0 -2px 2px #e5e5e5;
    border-top:1px solid #999;
    padding:12px;
    font-size:17px;
    background: rgb(232,232,232); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(252,252,252,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(232,232,232,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
    min-height:100px;
}

.commentaire .commAvatar
{
    float:left;
}

.commentaire .commAvatar img
{
   display:block;
   float:left;
}

.commentaire .commPseudo
{
    font-weight:bold;
    text-shadow:1px 1px 0 #fff;
    margin-bottom:8px;
    margin-left:120px;
}

.titleLastmsg
{
    display:block;
	font-size:22px;
	font-style:italic;
	font-weight:normal;
	margin-top:5px;
	margin-bottom:5px;
	background:url(../images/puce_right.png) 5px center no-repeat;
	padding-left:27px;
	text-shadow:1px 1px 1px #ccc;
}

.commentaire .commPseudo span
{
    color:#777;
}


.commentaire .commPseudo a
{
	text-decoration:none;
	color:#000;
}

.commentaire .commPseudo a:hover
{
	text-decoration:underline;
}

.commentaire p
{
    margin-left:120px;
    border:1px solid rgba(0,0,0,0);
	line-height:1.05;
	text-align: justify;
}

.commentaire p a
{
    text-decoration: underline;
}
.commentaire p a:hover
{
    text-decoration: none;
}

.commentaire textarea
{
    font-size:17px;
    font-family:CronosPro;
	padding:0;
    margin-left:20px;
    border:none;
	background: transparent ;
    width:550px;
	height:200px;
	line-height:1.05;
}
.commentaire textarea:focus
{
    box-shadow:none;
    background: transparent ;
    color:#000;
}

.commentaire .commPseudo span.commTime
{
    color:#666;
	text-shadow:1px 1ox 0 #fff;
    font-weight:normal;
}

.commentaire .commActions
{
    float:right;
}

.commentaire .commActions a
{
   display:block;
   float:right;
   margin-right:10px;
}

.commentaire .commActions a img
{
   display:block;
   float:left;
   margin-right:7px;
   margin-top:1px;
}

.commentaire .commActions a.commSuppr
{
   color:#cc0000;
}

.commentaire .commActions a.commEdit
{
   color:#444;
}




#content ul.myUl li
{
    line-height:1;
    display:block;
    padding:3px 0 3px 41px;
    background:url(../images/puce_right2.png) 15px center no-repeat;
}

.viewSondage li.choose
{
	line-height:1;
    display:block;
    padding:3px 0 3px 25px;
    background:url(../images/puce_right2.png) 0 center no-repeat;
}

.viewSondage
{
	padding:15px;
	border-top:1px solid #999;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}

.viewSondage .cadreJauge
{
	width:400px;
}

.viewSondage .jauge
{
	float:left;
    height:22px;
    width:0%;
    border-radius:4px;
    border:1px solid #247f8d;
	margin-right:7px;
    box-shadow:inset 0 0 1px #fff, 2px 2px 2px #ccc;
    background: rgb(113,203,217); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(113,203,217,1) 0%, rgba(48,163,181,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(113,203,217,1)), color-stop(100%,rgba(48,163,181,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(113,203,217,1) 0%,rgba(48,163,181,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(113,203,217,1) 0%,rgba(48,163,181,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(113,203,217,1) 0%,rgba(48,163,181,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71cbd9', endColorstr='#30a3b5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(113,203,217,1) 0%,rgba(48,163,181,1) 100%); /* W3C */
}

.viewSondage .results
{
	height:24px;
	line-height:24px;
	margin-bottom:4px;
}

.viewSondage .result
{
	color:#555;
	font-weight:normal;
	text-shadow:1px 1px 0 #fff;
}

.viewSondage .result span
{
	font-weight:bold;
	color:#000;
}
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Profil -------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

h1 .sendmail
{
	display:block;
	float:right;
	text-shadow:1px 1px 1px #b2b2b2;
	font-size:26px;
	height:38px;
	line-height:38px;
	padding-left:60px;
	background:url(../images/sendmail.png) left no-repeat;
	color:#333;
}

h1 .sendmail:hover
{
	color:#000;
}

.profil .cadreParam
{
	width:44%;
	margin:20px 0;
	margin-right:15px;
	margin-left:15px;
	float:left;
	
}


.profil  .avatar img
{
	display:block;
	float:left;
	margin-right:15px;
}


.profil .profilInfos
{
	font-size:17px;
	color:#444;
	line-height:1.2;
	border:1px solid #999;
	float:left;
	padding:8px 15px;
	border-radius:6px;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff, 2px 2px 1px #d8d8d8;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(left, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 );
}

.profil .profilGils
{
	background:url(../images/gold.png) left no-repeat;
	font-weight:bold;
	color:#be901c;
	padding-left:23px;
	text-shadow:1px 1px 0 #fff;
}

.profil .infoProfil
{
	height:23px;
	line-height:23px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.profil .infoProfil > div
{
	width:180px;
	float:left;
	font-weight:bold;
	text-shadow: 1px 1px 0 #fff;
}

.profil .contributions
{
	height:350px;
	overflow:auto;
}

.profil .contributions a
{
	display:block;
	line-height:1.2;
}

.profil .contributions a span
{
	color:#666;
	font-size:15px;
}

.profil .description
{
	line-height:1.2;
	height:230px;
	overflow:auto;
}

.profil .allImages
{
	height:350px;
	overflow:auto;
}

.profil .allImages img
{
	max-height:50px;
	border-radius:4px;
	margin:1px;
}


.miniprofil
{
	margin:10px;
	margin-top:0;
	display:block;
	float:left;
}

.miniprofil:hover
{
	text-decoration:none;
}

.miniprofil  .avatar
{
	margin-right:8px;
	float:left;
	width:60px;
	height:60px;
}

.miniprofil  .avatar img
{
	display:block;
}

.miniprofil  .pseudo
{
	text-shadow:1px 1px 0 #fff;
}
.miniprofil  .pseudo img
{
	display:block;
	float:left;
	margin-right:5px;
	margin-top:2px;
}


.miniprofil .profilGils
{
	background:url(../images/gold.png) left no-repeat;
	font-weight:bold;
	color:#be901c;
	padding-left:23px;
	text-shadow:1px 1px 0 #fff;
}

.miniprofil .profilInfos
{
	float:left;
	width:243px;
	color:#444;
	line-height:1.2;
	border:1px solid #999;
	padding:8px 10px;
	border-radius:4px;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff, 2px 2px 1px #d8d8d8;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(left, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 );
}

.miniprofil:hover .profilInfos
{
	border:1px solid #555;
	color:#000;
	background: rgb(213,213,213);
	background: -moz-linear-gradient(left, rgba(213,213,213,1) 0%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(213,213,213,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(left, rgba(213,213,213,1) 0%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(left, rgba(213,213,213,1) 0%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(213,213,213,1) 0%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to right, rgba(213,213,213,1) 0%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#ededed',GradientType=1 );
}

.miniprofil.online  .profilInfos
{
	color:#4c601f;
	border:1px solid #7a9a31;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff, 2px 2px 1px #e0ebc5;
	background: rgb(165,201,86);
	background: -moz-linear-gradient(left, rgba(165,201,86,1) 0%, rgba(205,235,142,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(165,201,86,1)), color-stop(100%,rgba(205,235,142,1)));
	background: -webkit-linear-gradient(left, rgba(165,201,86,1) 0%,rgba(205,235,142,1) 100%);
	background: -o-linear-gradient(left, rgba(165,201,86,1) 0%,rgba(205,235,142,1) 100%);
	background: -ms-linear-gradient(left, rgba(165,201,86,1) 0%,rgba(205,235,142,1) 100%);
	background: linear-gradient(to right, rgba(165,201,86,1) 0%,rgba(205,235,142,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5c956', endColorstr='#cdeb8e',GradientType=1 );
}
.miniprofil.online  .profilInfos .profilGils
{
	text-shadow:none;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Diff -------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.orderMenu ul ul
{
	margin-left:60px;
}


.orderMenu li .title
{
	border:1px solid #fff;
	display:inline-block;
	border-radius:4px;
	padding:0 5px;
	line-height:26px;
	height:26px;
}


.orderMenu li .title:hover
{
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff;
	border:1px solid #666;
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}

.orderMenu li .img
{
	display:block;
	float:left;
	margin-top:1px;
	margin-right:7px;
	cursor:pointer;
	opacity:0.4;
}

.orderMenu li div:hover
{
	opacity:1;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Rechercher -------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

.searchTxt
{
	font-family:CronosPro;
	text-shadow:1px 1px 0 #fff;
	border-radius:6px;
	border:1px solid #666;
	color:#000;
	padding:10px;
	font-size:22px;
	width:636px;
	box-shadow:inset 1px 1px 0 #fff,inset -1px -1px 0 #fff,inset -1px 1px 0 #fff,inset 1px -1px 0 #fff;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top, #ededed 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ededed 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ededed 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ededed 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


.loupe
{
	margin-top:3px;
	float:right;
	opacity:0.5;
}

.loupe:hover
{
	opacity:1;
}

.tableSearch
{
	width:100%;
	margin-top:15px;
	margin-bottom:25px;
	border-collapse:separate;
}


.tableSearch td
{
	border-right:1px solid #777;
	border-left:1px solid #d8d8d8;
	padding:8px 5px;
	line-height:1.3;
}

.tableSearch td label
{
	font-size:17px;
	cursor:pointer;
	color:#333;
}
.tableSearch td label:hover
{
	color:#000;
	text-decoration:underline;
}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------------------------ Diff -------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
#closeOverlay
{
	background:url(../images/closeWindow.png) right no-repeat;
	height:48px;
	line-height:48px;
	padding-right:60px;
	color:#d12727;
	display:block;
	font-size:36px;
	margin-bottom:15px;
	text-align:right;
	text-shadow:2px 2px 1px #f6cfcf;
	font-style:italic;
}

#overlay
{
	display:none;
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:900;
	padding:80px;
}

#windowDiff
{
	margin:auto;
	background:#fff;
	border-radius:12px;
	z-index:100;
	padding:20px;
	max-height:100%;
	overflow:auto;
	border:6px solid #000;
}

.Differences {
	width: 100%;
	border-collapse: collapse;
	empty-cells: show;
}

.Differences thead th {
	text-align: center;
	color: #000;
	padding: 7px;
	font-size:26px;
	text-shadow:2px 2px 1px #ccc;
	border-bottom: 1px solid #999;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
.Differences tbody th {
	font-family: Consolas, monospace;
	text-align: right;
	padding: 0 5px;
	border-right: 1px solid #999;
	vertical-align: top;
	font-size: 14px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
	text-shadow:1px 1px 0 #fff;
	width:60px;
	line-height:1.2;
	color:#444;
}



.Differences td {
	font-family: Consolas, monospace;
	font-size: 14px;
	padding: 0 5px;
	line-height:1.2;
}

.DifferencesSideBySide .ChangeInsert td.Left {
	background: #dfd;
}

.DifferencesSideBySide .ChangeInsert td.Right {
	background: #cfc;
}

.DifferencesSideBySide .ChangeDelete td.Left {
	background: #f88;
}

.DifferencesSideBySide .ChangeDelete td.Right {
	background: #faa;
}

.DifferencesSideBySide .ChangeReplace .Left {
	background: #fe9;
}

.DifferencesSideBySide .ChangeReplace .Right {
	background: #fd8;
}

.Differences ins, .Differences del {
	text-decoration: none;
}

.DifferencesSideBySide .ChangeReplace ins, .DifferencesSideBySide .ChangeReplace del {
	background: #f4c300;
}

.Differences .Skipped {
	background: #f7f7f7;
}

.DifferencesInline .ChangeReplace .Left,
.DifferencesInline .ChangeDelete .Left {
	background: #fdd;
}

.DifferencesInline .ChangeReplace .Right,
.DifferencesInline .ChangeInsert .Right {
	background: #dfd;
}

.DifferencesInline .ChangeReplace ins {
	background: #9e9;
}

.DifferencesInline .ChangeReplace del {
	background: #e99;
}


a.debattre
{
	display:block;
	text-align:center;
	padding-top:6px;
	margin-top:6px;
	font-size:16px;
	border-top:1px solid #ccc;
	font-style:italic;
}

.helper
{
	text-align:center;
	padding-bottom:5px;
	font-size:16px;
	color:#888;
}

.helper a
{
	color:#333;
}

.table.dons td
{
	font-size:17px;
	text-align:left;
	vertical-align:top;
	border:0;
}


.lineDon
{
	line-height:1.4;
	font-size:20px;
	font-style:italic;
}
.lineDon span
{
	color:#666;
	font-size:15px;
}



ul.stats span
{
	display:block;
	float:left;
	font-weight:normal;
	width:160px;
	color:#888;
	font-style: italic;
	overflow:hidden;
	text-overflow:ellipsis;
	padding-right:4px;
}

ul.stats
{
	color:#000;
	font-weight:bold;
}
ul.stats a:hover span
{
	color:#000;
	text-decoration: underline;
}
ul.stats li
{
	line-height: 1.25;
	white-space: nowrap;
	padding-left:10px;
}