.editor em
{
	font-style:italic;
}

.editor pre
{
	font-family: Consolas, monospace;
	font-size: 14px;
	line-height:1.16;
}

.editor > p
{
	margin-top:12px;
	margin-bottom:12px;
	text-indent:30px;
    line-height:1.05;
}
.editor > div
{
	margin-top:12px;
	margin-bottom:12px;
    line-height:1.05;
}

.editor strong
{
	font-weight:bold;
}


.editor
{
	width:710px;
    background:#fff;
    padding:10px 5px;
    font-family:CronosPro;
    font-size:17px;
	margin:auto;
}

.editor a img
{
    border:1px solid #888;
	padding:1px;
	border-radius:3px;
	opacity:0.9;
	-moz-transition-property:border-color,box-shadow,opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property:border-color,box-shadow,opacity;
	-webkit-transition-duration: 0.3s;
	-o-transition-property:border-color,box-shadow,opacity;
	-o-transition-duration: 0.3s;
	transition-property:border-color,box-shadow,opacity;
	transition-duration: 0.3s;
}

.editor a:hover img
{
	opacity:1;
    border:1px solid #111;
	box-shadow:0 0 3px #555;
}

.editor ol
{
    list-style-type: decimal;
	margin-left:40px;
}

.editor ol li
{
    line-height:1.2;
}

.editor ul
{
    margin-left:16px;
}
.editor ul li
{
    line-height:1.2;
	padding-left:25px;
    background:url(../images/puce_right2.png) 0px 3px no-repeat;
}

.editor blockquote
{
    padding:6px 12px;
	margin-left:34px;
	margin-top:10px;
	margin-bottom:10px;
	border-left:4px solid #b2b2b2;
	font-style:italic;
	background: url(../images/quote.png) 15px 4px no-repeat;
	color:#000;
}

.editor blockquote p
{
	text-indent:22px;
	line-height:1.03;
}


.editor ul li a:hover
{
    text-decoration:none;
    color:#10363b;
    text-shadow:1px 1px 1px #74cbd6;
}


.editor h1
{
	color:#000;
	text-shadow:2px 2px 1px #ccc;
	font-size:36px;
	margin-bottom:10px;
}

.editor h2
{
	color:#000;
	text-shadow:1px 1px 0 #ccc;
	font-size:28px;
	margin-bottom:8px;
	padding-left:10px;
	padding-bottom:4px;
	font-style:italic;
}

.editor h3
{
	color:#000;
	text-shadow:1px 1px 0 #ccc;
	font-size:19px;
    margin-left:10px;
    margin-bottom:6px;
	padding-left:38px;
	background:url(../images/puce_down.png) 15px center no-repeat;
	font-style:italic;
}


.editor h4
{
    font-weight:bold;
    margin-left:10px;
    margin-bottom:10px;
    font-size:17px;
    text-shadow:1px 1px 1px #ccc;
}

.editor a
{
    color:#257883;
	font-weight:bold;
    text-decoration:none;
}

.editor a:hover
{
    color:#154950;
    text-decoration:underline;
}

.editor img
{
   max-width:680px;
   
}

.editor table
{
   max-width:700px;
}


.editor table th
{
    color:#000;
    border-bottom:1px solid #999;
    text-align:center;
    font-style:italic;
    padding:4px 8px;
	font-size:22px;
	text-shadow:2px 2px 1px #ccc;
	background:#fff;
	vertical-align:middle;
}

.editor table td
{
    border-bottom:1px solid #999;
    text-align:center;
    padding:4px 8px;
	vertical-align:middle;
	font-size:16px;
	line-height:1.2;
}

.editor table tr:nth-child(odd)
{
	box-shadow:inset 1px 1px 0 #fff;
	
}

.editor table tr:nth-child(odd) td
{
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}
