@font-face {
    font-family: 'CronosPro';
    src: url('../fonts/cronospro-regular-webfont.eot');
    src: url('../fonts/cronospro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronospro-regular-webfont.woff') format('woff'),
         url('../fonts/cronospro-regular-webfont.ttf') format('truetype'),
         url('../fonts/cronospro-regular-webfont.svg#CronosPro') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'CronosPro';
    src: url('../fonts/cronospro-italic-webfont.eot');
    src: url('../fonts/cronospro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronospro-italic-webfont.woff') format('woff'),
         url('../fonts/cronospro-italic-webfont.ttf') format('truetype'),
         url('../fonts/cronospro-italic-webfont.svg#CronosPro') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'CronosPro';
    src: url('../fonts/cronospro-semibolditalic-webfont.eot');
    src: url('../fonts/cronospro-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronospro-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/cronospro-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/cronospro-semibolditalic-webfont.svg#CronosPro') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'CronosPro';
    src: url('../fonts/cronospro-semibold-webfont.eot');
    src: url('../fonts/cronospro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronospro-semibold-webfont.woff') format('woff'),
         url('../fonts/cronospro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/cronospro-semibold-webfont.svg#CronosPro') format('svg');
    font-weight: bold;
    font-style: normal;

}