/* header */


.header
{
background: rgb(235,235,235);
background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(211,211,211,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(211,211,211,1)));
background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(211,211,211,1) 100%);
background: -o-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(211,211,211,1) 100%);
background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(211,211,211,1) 100%);
background: linear-gradient(to bottom, rgba(235,235,235,1) 0%,rgba(211,211,211,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#d3d3d3',GradientType=0 );
}
.header a:hover
{
background: rgb(33,103,195);
background: -moz-linear-gradient(top, rgba(33,103,195,1) 0%, rgba(59,129,221,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,103,195,1)), color-stop(100%,rgba(59,129,221,1)));
background: -webkit-linear-gradient(top, rgba(33,103,195,1) 0%,rgba(59,129,221,1) 100%);
background: -o-linear-gradient(top, rgba(33,103,195,1) 0%,rgba(59,129,221,1) 100%);
background: -ms-linear-gradient(top, rgba(33,103,195,1) 0%,rgba(59,129,221,1) 100%);
background: linear-gradient(to bottom, rgba(33,103,195,1) 0%,rgba(59,129,221,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2167c3', endColorstr='#3b81dd',GradientType=0 );
}

.menuHead
{
background: rgb(59,132,221);
background: -moz-linear-gradient(top, rgba(59,132,221,1) 0%, rgba(33,106,195,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,132,221,1)), color-stop(100%,rgba(33,106,195,1)));
background: -webkit-linear-gradient(top, rgba(59,132,221,1) 0%,rgba(33,106,195,1) 100%);
background: -o-linear-gradient(top, rgba(59,132,221,1) 0%,rgba(33,106,195,1) 100%);
background: -ms-linear-gradient(top, rgba(59,132,221,1) 0%,rgba(33,106,195,1) 100%);
background: linear-gradient(to bottom, rgba(59,132,221,1) 0%,rgba(33,106,195,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b84dd', endColorstr='#216ac3',GradientType=0 );
}


.menuHead > ul > li > a:hover
{
background: rgb(37,114,215);
background: -moz-linear-gradient(top, rgba(37,114,215,1) 0%, rgba(30,93,176,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,114,215,1)), color-stop(100%,rgba(30,93,176,1)));
background: -webkit-linear-gradient(top, rgba(37,114,215,1) 0%,rgba(30,93,176,1) 100%);
background: -o-linear-gradient(top, rgba(37,114,215,1) 0%,rgba(30,93,176,1) 100%);
background: -ms-linear-gradient(top, rgba(37,114,215,1) 0%,rgba(30,93,176,1) 100%);
background: linear-gradient(to bottom, rgba(37,114,215,1) 0%,rgba(30,93,176,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2572d7', endColorstr='#1e5db0',GradientType=0 );
}